 <!-- Start Testimonials -->
    <section class="full-page pd-0 clearfix" id="publications">
        <div class="publications">
            <div class="container-fluid">
                <div class="publications-wrapper text-center">
                    <div class="section-title">
                        <div class="border-center"></div>
                        <h2>Publications</h2>
                        <div class="border-center"></div>
                    </div>
                </div>
                <li>none</li>
            </div>
        </div>
    </section>
    <!-- End Testimonials  -->