<!-- Start Contact ===================================-->
<section class="full-page pd-0 clearfix" id="working_papers">
    <div class="working_papers">
        <div class="container-fluid">
            <div class="working_papers-wrapper text-center">
                <div class="section-title">
                    <div class="border-center"></div>
                    <h2>Working Papers</h2>
                    <div class="border-center"></div>
                            <p></p>
                            <h5>Structural topic modeling with genomic data</h5>
                            with Eduardo Maury
                            <hr>
                            <li>topic modeling2</li>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Content -->